---
import Layout from "../layouts/Layout.astro"

if (!Astro.cookies.has("__sessiondemo")) {
    return Astro.redirect("/");
}
---

<Layout title="Dynecore - Dashboard">
    <h1>dashboard</h1>
</Layout>