---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<style>
			.ok {
				background-color: #0f0;
			}
			.warn {
				background-color: #ff0;
			}
			.error {
				background-color: #f00;
			}

			.statusdisplay {
				color: #000;
				text-align: center;
				padding: 0 5px;
				text-transform: uppercase;
			}
		</style>
	</head>
	<body>
		<h1>Astro final frontend maybe</h1>
		<table border="2">
			<tr>
				<th>API</th>
				<th>STATUS</th>
				<th>CONTENT</th>
			</tr>
			<tr>
				<td>MASTER</td>
				<td class="statusdisplay" id="masterStatus">unknown</td>
				<td class="statusdisplay" id="masterContent"></td>
			</tr>
		</table>
	</body>
	<script>
		const setStatus = (element, status) => {
					// Limpiar las clases de estado anteriores
					element.classList.remove("ok", "warn", "error");

					// Añadir la clase correspondiente según el estado
					element.classList.add(status);

					// Modificar el texto del elemento según el estado
					if (status === "ok") {
						element.textContent = "ok";
					} else if (status === "warn") {
						element.textContent = "down";
					} else if (status === "error") {
						element.textContent = "error";
					}
				};

		document.addEventListener("DOMContentLoaded", async () => {
			const masterStatus = document.getElementById("masterStatus");
			const masterContent = document.getElementById("masterContent");

			try {
				// Realiza un fetch para consultar el estado de la API
				let response;
				try {
					response = await fetch("/api/status", {
						method: "HEAD",
						mode: "no-cors",
					});
				} catch {}

				if (response) {
					if (response.ok) {
						console.log("API Funcionando", response);
						setStatus(masterStatus, "ok");
						masterContent.textContent = JSON.stringify(response)
					} else {
						console.log("Posible error de CORS");
						setStatus(masterStatus, "error");
						masterContent.textContent = 'Posible error de CORS';
					}
				} else {
					console.log("Servicio de backend caído");
					setStatus(masterStatus, "warn");
					masterContent.textContent = 'Servicio de backend caído';
				}

			} catch (error) {
				console.log(error);
			}
		});
	</script>
</html>
