---
import Layout from "../layouts/Layout.astro"

let session_status = false;
let session_cookie = "nocookie";
let expireIn = 0;

if (Astro.cookies.has("__sessiondemo")) {
    session_status = true;
    session_cookie = Astro.cookies.get("__sessiondemo")?.value;
    expireIn = JSON.parse(session_cookie.slice(2)).expiration - Date.now();
}
---


<Layout>
    
    <h1>Dynecore</h1>
    <h3>
        hay sesion: <span id="lblSessionStatus">{session_status.toString()}</span>
    </h3>

    <button id="cookiebtnset">set cookie</button>
    <button id="cookiebtnremove">remove cookie</button>

    <footer>
        <a href="/status">check system status</a>
    </footer>

   
</Layout>