---
import Layout from "../layouts/Layout.astro"

let session_status = false;
let session_cookie = JSON.stringify({result: 'nocookie'})
let expireIn = 0;

if (Astro.cookies.has("__sessiondemo")) {
    session_status = true;
    session_cookie = Astro.cookies.get("__sessiondemo")?.value;
    expireIn = JSON.parse(session_cookie.slice(2)).expiration - Date.now();
}

if (Astro.cookies.has("__session")) {
    console.log("haysesion!")
    session_status = true;
    //session_cookie = Astro.cookies.get("__sessiondemo")?.value;
    //expireIn = JSON.parse(session_cookie.slice(2)).expiration - Date.now();
}
---


<Layout title="Dynecore - Lampa Project">
    
    <h1>Dynecore</h1>
       
</Layout>