---
import Layout from "../layouts/Layout.astro"
import IconGoogle from "../icons/icon-google.astro";
import IconFacebook from "../icons/icon-facebook-2.astro";
import IconTwitter from "../icons/icon-twitter.astro"
import LargeButtonWithIcon from "../components/LargeButtonWithIcon.astro"

if (Astro.cookies.has("__sessiondemo") || Astro.cookies.has("__session")) {
    return Astro.redirect("/dashboard");
}

---

<Layout title="Dynecore - Login">
    <section class="grid landscape:grid-cols-2 lg:px-32 p-2">
        <div class="bxg-yellow-500 flex flex-col portrait:text-center">
            <div class="text-3xl my-10 ">Ingresa a tu cuenta en uno de los siguientes servicios para iniciar sesión</div>
            <div class="flex-grow"></div>
            <div class="text-lg text-blue-600 underline">¿Problemas para iniciar sesion?</div>
            
        </div>
        <div class="bxg-green-500 ">
            <div class="border-2 p-6 rounded-xl my-10 space-y-5">
                <div class="text-xl text-center  ">Elija un proveedor</div>
                
                <LargeButtonWithIcon label="Continuar con Cookie Local" id="loginBtn" class="bg-red-200 hover:bg-red-300 rounded-full">
                    
                </LargeButtonWithIcon>

                <LargeButtonWithIcon label="Continuar con Google" id="googleLoginBtn" class="bg-gray-200 hover:bg-gray-300 rounded-full">
                    <IconGoogle height="30" />
                </LargeButtonWithIcon>

                <LargeButtonWithIcon label="Continuar con Facebook" id="facebookLoginBtn" class="bg-blue-500 hover:bg-blue-400 rounded-full text-white">
                    <IconFacebook height="30" fillColor="#fff" />
                </LargeButtonWithIcon>

                <LargeButtonWithIcon label="Continuar con X" id="twitterLogginBtn" class="bg-black hover:bg-[#00ACEE] rounded-full text-white">
                    <IconTwitter fillColor="#fff" height="30" />
                </LargeButtonWithIcon>               

        </div>
    </section>
    <script>
        import { getAuth, GoogleAuthProvider, signInWithPopup } from "firebase/auth"
import { app } from "../firebase/client"

        const auth = getAuth(app)

        document.getElementById('googleLoginBtn').addEventListener('click', async () => {
            console.log('Google Button!')

            const provider = new GoogleAuthProvider()

            try {
                const googleCredential = await signInWithPopup(auth, provider)
                const idToken = await googleCredential.user.getIdToken()

                const response = await fetch('/api/auth/signin', 
                {
                        method: "POST",
                        headers: {
                            Authorization: `Bearer ${idToken}`,
                        },
                    },
                )

                if (response.redirected) {
                    window.location.assign(response.url);
                }
            } catch (error) {
                console.error("Error during Google sign-in:", error);
            }
        })
        document.getElementById('facebookLoginBtn').addEventListener('click', () => {
            console.log('Face Button!')
        })
        document.getElementById('twitterLogginBtn').addEventListener('click', () => {
            console.log('Twitter Button!')
        })
    </script>
  
</Layout>