---
const {icon, label, class:classname, id } = Astro.props

---
<div class={classname} id={id}>
    <div class="flex items-center justify-between p-2 cursor-pointer rounded-full">
        <!-- Icono -->
        <slot />
        <!-- Texto -->
        <div class="text-xl flex-grow text-center">{ label }</div>
    </div>
</div>